# Dataframes contd.
### Index and Filtering

In [1]:
auto_csv = r"C:\Users\ramananb\Downloads\Automobile.csv"

In [2]:
import pandas as pd
df = pd.read_csv(auto_csv)
df

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [3]:
"""
iloc - used to access a portion of a dataframe (rows & cols - using integers/positions)
Note: If there is no custom index set for rows, then by default the index is set from 0 
and the subsequent indices have values incremented by 1
"""
df.iloc[1:4, 3:6]   # accessing the rows through index 1 to 3 and columns through index 3 to 5

   displacement  horsepower  weight
1         350.0       165.0    3693
2         318.0       150.0    3436
3         304.0       150.0    3433

In [4]:
df.iloc[[3,6, 9, 11, 100], :] # accessing different row indices without having an actual range

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
6,chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
9,amc ambassador dpl,15.0,8,390.0,190.0,3850,8.5,70,usa
11,plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
100,ford maverick,18.0,6,250.0,88.0,3021,16.5,73,usa

In [5]:
df.iloc[[3,6, 9, 11, 100], [0, 2, 6]] # accessing different row and column indices without having an actual range

                   name  cylinders  acceleration
3         amc rebel sst          8          12.0
6      chevrolet impala          8           9.0
9    amc ambassador dpl          8           8.5
11   plymouth 'cuda 340          8           8.0
100       ford maverick          6          16.5

In [6]:
# Set custom index
df.set_index('name', inplace=True)  
# inplace=True will actually update the dataframe, without the argument df will not be impacted

In [7]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [8]:
# access the row indices with labels (ie., custom index values)
df.loc[['plymouth satellite','ford mustang gl','dodge rampage']]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa

In [9]:
# accessing the rows and columns with actual labels
df.loc[['plymouth satellite','ford mustang gl','dodge rampage'], ['mpg','cylinders','horsepower']]

                     mpg  cylinders  horsepower
name
plymouth satellite  18.0          8       150.0
ford mustang gl     27.0          4        86.0
dodge rampage       32.0          4        84.0

In [10]:
# accessing row and column labels by having them in list variables
idx = ['plymouth satellite','ford mustang gl','dodge rampage','chevy s-10','vw pickup']
cols = ['mpg','cylinders','horsepower', 'origin']
df.loc[idx, cols]

                     mpg  cylinders  horsepower  origin
name
plymouth satellite  18.0          8       150.0     usa
ford mustang gl     27.0          4        86.0     usa
dodge rampage       32.0          4        84.0     usa
chevy s-10          31.0          4        82.0     usa
vw pickup           44.0          4        52.0  europe

In [11]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [12]:
# Column value to list
mpg_lst = df['mpg'].to_list()
mpg_lst

[18.0,
 15.0,
 18.0,
 16.0,
 17.0,
 15.0,
 14.0,
 14.0,
 14.0,
 15.0,
 15.0,
 14.0,
 15.0,
 14.0,
 24.0,
 22.0,
 18.0,
 21.0,
 27.0,
 26.0,
 25.0,
 24.0,
 25.0,
 26.0,
 21.0,
 10.0,
 10.0,
 11.0,
 9.0,
 27.0,
 28.0,
 25.0,
 25.0,
 19.0,
 16.0,
 17.0,
 19.0,
 18.0,
 14.0,
 14.0,
 14.0,
 14.0,
 12.0,
 13.0,
 13.0,
 18.0,
 22.0,
 19.0,
 18.0,
 23.0,
 28.0,
 30.0,
 30.0,
 31.0,
 35.0,
 27.0,
 26.0,
 24.0,
 25.0,
 23.0,
 20.0,
 21.0,
 13.0,
 14.0,
 15.0,
 14.0,
 17.0,
 11.0,
 13.0,
 12.0,
 13.0,
 19.0,
 15.0,
 13.0,
 13.0,
 14.0,
 18.0,
 22.0,
 21.0,
 26.0,
 22.0,
 28.0,
 23.0,
 28.0,
 27.0,
 13.0,
 14.0,
 13.0,
 14.0,
 15.0,
 12.0,
 13.0,
 13.0,
 14.0,
 13.0,
 12.0,
 13.0,
 18.0,
 16.0,
 18.0,
 18.0,
 23.0,
 26.0,
 11.0,
 12.0,
 13.0,
 12.0,
 18.0,
 20.0,
 21.0,
 22.0,
 18.0,
 19.0,
 21.0,
 26.0,
 15.0,
 16.0,
 29.0,
 24.0,
 20.0,
 19.0,
 15.0,
 24.0,
 20.0,
 11.0,
 20.0,
 21.0,
 19.0,
 15.0,
 31.0,
 26.0,
 32.0,
 25.0,
 16.0,
 16.0,
 18.0,
 16.0,
 13.0,
 14.0,
 14.0,
 14.0,
 29.0,
 26.0,
 26.0,
 31.0,
 32.0,
 28.0,
 24.0,
 26.0,
 24.0,
 26.0,
 31.0,
 19.0,
 18.0,
 15.0,
 15.0,
 16.0,
 15.0,
 16.0,
 14.0,
 17.0,
 16.0,
 15.0,
 18.0,
 21.0,
 20.0,
 13.0,
 29.0,
 23.0,
 20.0,
 23.0,
 24.0,
 25.0,
 24.0,
 18.0,
 29.0,
 19.0,
 23.0,
 23.0,
 22.0,
 25.0,
 33.0,
 28.0,
 25.0,
 25.0,
 26.0,
 27.0,
 17.5,
 16.0,
 15.5,
 14.5,
 22.0,
 22.0,
 24.0,
 22.5,
 29.0,
 24.5,
 29.0,
 33.0,
 20.0,
 18.0,
 18.5,
 17.5,
 29.5,
 32.0,
 28.0,
 26.5,
 20.0,
 13.0,
 19.0,
 19.0,
 16.5,
 16.5,
 13.0,
 13.0,
 13.0,
 31.5,
 30.0,
 36.0,
 25.5,
 33.5,
 17.5,
 17.0,
 15.5,
 15.0,
 17.5,
 20.5,
 19.0,
 18.5,
 16.0,
 15.5,
 15.5,
 16.0,
 29.0,
 24.5,
 26.0,
 25.5,
 30.5,
 33.5,
 30.0,
 30.5,
 22.0,
 21.5,
 21.5,
 43.1,
 36.1,
 32.8,
 39.4,
 36.1,
 19.9,
 19.4,
 20.2,
 19.2,
 20.5,
 20.2,
 25.1,
 20.5,
 19.4,
 20.6,
 20.8,
 18.6,
 18.1,
 19.2,
 17.7,
 18.1,
 17.5,
 30.0,
 27.5,
 27.2,
 30.9,
 21.1,
 23.2,
 23.8,
 23.9,
 20.3,
 17.0,
 21.6,
 16.2,
 31.5,
 29.5,
 21.5,
 19.8,
 22.3,
 20.2,
 20.6,
 17.0,
 17.6,
 16.5,
 18.2,
 16.9,
 15.5,
 19.2,
 18.5,
 31.9,
 34.1,
 35.7,
 27.4,
 25.4,
 23.0,
 27.2,
 23.9,
 34.2,
 34.5,
 31.8,
 37.3,
 28.4,
 28.8,
 26.8,
 33.5,
 41.5,
 38.1,
 32.1,
 37.2,
 28.0,
 26.4,
 24.3,
 19.1,
 34.3,
 29.8,
 31.3,
 37.0,
 32.2,
 46.6,
 27.9,
 40.8,
 44.3,
 43.4,
 36.4,
 30.0,
 44.6,
 40.9,
 33.8,
 29.8,
 32.7,
 23.7,
 35.0,
 23.6,
 32.4,
 27.2,
 26.6,
 25.8,
 23.5,
 30.0,
 39.1,
 39.0,
 35.1,
 32.3,
 37.0,
 37.7,
 34.1,
 34.7,
 34.4,
 29.9,
 33.0,
 34.5,
 33.7,
 32.4,
 32.9,
 31.6,
 28.1,
 30.7,
 25.4,
 24.2,
 22.4,
 26.6,
 20.2,
 17.6,
 28.0,
 27.0,
 34.0,
 31.0,
 29.0,
 27.0,
 24.0,
 23.0,
 36.0,
 37.0,
 31.0,
 38.0,
 36.0,
 36.0,
 36.0,
 34.0,
 38.0,
 32.0,
 38.0,
 25.0,
 38.0,
 26.0,
 22.0,
 32.0,
 36.0,
 27.0,
 27.0,
 44.0,
 32.0,
 28.0,
 31.0]

In [13]:
# Index values to list
idx_lst = list(df.index)  # can also use df.index.values
idx_lst

['chevrolet chevelle malibu',
 'buick skylark 320',
 'plymouth satellite',
 'amc rebel sst',
 'ford torino',
 'ford galaxie 500',
 'chevrolet impala',
 'plymouth fury iii',
 'pontiac catalina',
 'amc ambassador dpl',
 'dodge challenger se',
 "plymouth 'cuda 340",
 'chevrolet monte carlo',
 'buick estate wagon (sw)',
 'toyota corona mark ii',
 'plymouth duster',
 'amc hornet',
 'ford maverick',
 'datsun pl510',
 'volkswagen 1131 deluxe sedan',
 'peugeot 504',
 'audi 100 ls',
 'saab 99e',
 'bmw 2002',
 'amc gremlin',
 'ford f250',
 'chevy c20',
 'dodge d200',
 'hi 1200d',
 'datsun pl510',
 'chevrolet vega 2300',
 'toyota corona',
 'ford pinto',
 'amc gremlin',
 'plymouth satellite custom',
 'chevrolet chevelle malibu',
 'ford torino 500',
 'amc matador',
 'chevrolet impala',
 'pontiac catalina brougham',
 'ford galaxie 500',
 'plymouth fury iii',
 'dodge monaco (sw)',
 'ford country squire (sw)',
 'pontiac safari (sw)',
 'amc hornet sportabout (sw)',
 'chevrolet vega (sw)',
 'pontiac firebird',
 'ford mustang',
 'mercury capri 2000',
 'opel 1900',
 'peugeot 304',
 'fiat 124b',
 'toyota corolla 1200',
 'datsun 1200',
 'volkswagen model 111',
 'plymouth cricket',
 'toyota corona hardtop',
 'dodge colt hardtop',
 'volkswagen type 3',
 'chevrolet vega',
 'ford pinto runabout',
 'chevrolet impala',
 'pontiac catalina',
 'plymouth fury iii',
 'ford galaxie 500',
 'amc ambassador sst',
 'mercury marquis',
 'buick lesabre custom',
 'oldsmobile delta 88 royale',
 'chrysler newport royal',
 'mazda rx2 coupe',
 'amc matador (sw)',
 'chevrolet chevelle concours (sw)',
 'ford gran torino (sw)',
 'plymouth satellite custom (sw)',
 'volvo 145e (sw)',
 'volkswagen 411 (sw)',
 'peugeot 504 (sw)',
 'renault 12 (sw)',
 'ford pinto (sw)',
 'datsun 510 (sw)',
 'toyouta corona mark ii (sw)',
 'dodge colt (sw)',
 'toyota corolla 1600 (sw)',
 'buick century 350',
 'amc matador',
 'chevrolet malibu',
 'ford gran torino',
 'dodge coronet custom',
 'mercury marquis brougham',
 'chevrolet caprice classic',
 'ford ltd',
 'plymouth fury gran sedan',
 'chrysler new yorker brougham',
 'buick electra 225 custom',
 'amc ambassador brougham',
 'plymouth valiant',
 'chevrolet nova custom',
 'amc hornet',
 'ford maverick',
 'plymouth duster',
 'volkswagen super beetle',
 'chevrolet impala',
 'ford country',
 'plymouth custom suburb',
 'oldsmobile vista cruiser',
 'amc gremlin',
 'toyota carina',
 'chevrolet vega',
 'datsun 610',
 'maxda rx3',
 'ford pinto',
 'mercury capri v6',
 'fiat 124 sport coupe',
 'chevrolet monte carlo s',
 'pontiac grand prix',
 'fiat 128',
 'opel manta',
 'audi 100ls',
 'volvo 144ea',
 'dodge dart custom',
 'saab 99le',
 'toyota mark ii',
 'oldsmobile omega',
 'plymouth duster',
 'ford maverick',
 'amc hornet',
 'chevrolet nova',
 'datsun b210',
 'ford pinto',
 'toyota corolla 1200',
 'chevrolet vega',
 'chevrolet chevelle malibu classic',
 'amc matador',
 'plymouth satellite sebring',
 'ford gran torino',
 'buick century luxus (sw)',
 'dodge coronet custom (sw)',
 'ford gran torino (sw)',
 'amc matador (sw)',
 'audi fox',
 'volkswagen dasher',
 'opel manta',
 'toyota corona',
 'datsun 710',
 'dodge colt',
 'fiat 128',
 'fiat 124 tc',
 'honda civic',
 'subaru',
 'fiat x1.9',
 'plymouth valiant custom',
 'chevrolet nova',
 'mercury monarch',
 'ford maverick',
 'pontiac catalina',
 'chevrolet bel air',
 'plymouth grand fury',
 'ford ltd',
 'buick century',
 'chevroelt chevelle malibu',
 'amc matador',
 'plymouth fury',
 'buick skyhawk',
 'chevrolet monza 2+2',
 'ford mustang ii',
 'toyota corolla',
 'ford pinto',
 'amc gremlin',
 'pontiac astro',
 'toyota corona',
 'volkswagen dasher',
 'datsun 710',
 'ford pinto',
 'volkswagen rabbit',
 'amc pacer',
 'audi 100ls',
 'peugeot 504',
 'volvo 244dl',
 'saab 99le',
 'honda civic cvcc',
 'fiat 131',
 'opel 1900',
 'capri ii',
 'dodge colt',
 'renault 12tl',
 'chevrolet chevelle malibu classic',
 'dodge coronet brougham',
 'amc matador',
 'ford gran torino',
 'plymouth valiant',
 'chevrolet nova',
 'ford maverick',
 'amc hornet',
 'chevrolet chevette',
 'chevrolet woody',
 'vw rabbit',
 'honda civic',
 'dodge aspen se',
 'ford granada ghia',
 'pontiac ventura sj',
 'amc pacer d/l',
 'volkswagen rabbit',
 'datsun b-210',
 'toyota corolla',
 'ford pinto',
 'volvo 245',
 'plymouth volare premier v8',
 'peugeot 504',
 'toyota mark ii',
 'mercedes-benz 280s',
 'cadillac seville',
 'chevy c10',
 'ford f108',
 'dodge d100',
 'honda accord cvcc',
 'buick opel isuzu deluxe',
 'renault 5 gtl',
 'plymouth arrow gs',
 'datsun f-10 hatchback',
 'chevrolet caprice classic',
 'oldsmobile cutlass supreme',
 'dodge monaco brougham',
 'mercury cougar brougham',
 'chevrolet concours',
 'buick skylark',
 'plymouth volare custom',
 'ford granada',
 'pontiac grand prix lj',
 'chevrolet monte carlo landau',
 'chrysler cordoba',
 'ford thunderbird',
 'volkswagen rabbit custom',
 'pontiac sunbird coupe',
 'toyota corolla liftback',
 'ford mustang ii 2+2',
 'chevrolet chevette',
 'dodge colt m/m',
 'subaru dl',
 'volkswagen dasher',
 'datsun 810',
 'bmw 320i',
 'mazda rx-4',
 'volkswagen rabbit custom diesel',
 'ford fiesta',
 'mazda glc deluxe',
 'datsun b210 gx',
 'honda civic cvcc',
 'oldsmobile cutlass salon brougham',
 'dodge diplomat',
 'mercury monarch ghia',
 'pontiac phoenix lj',
 'chevrolet malibu',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'plymouth volare',
 'amc concord',
 'buick century special',
 'mercury zephyr',
 'dodge aspen',
 'amc concord d/l',
 'chevrolet monte carlo landau',
 'buick regal sport coupe (turbo)',
 'ford futura',
 'dodge magnum xe',
 'chevrolet chevette',
 'toyota corona',
 'datsun 510',
 'dodge omni',
 'toyota celica gt liftback',
 'plymouth sapporo',
 'oldsmobile starfire sx',
 'datsun 200-sx',
 'audi 5000',
 'volvo 264gl',
 'saab 99gle',
 'peugeot 604sl',
 'volkswagen scirocco',
 'honda accord lx',
 'pontiac lemans v6',
 'mercury zephyr 6',
 'ford fairmont 4',
 'amc concord dl 6',
 'dodge aspen 6',
 'chevrolet caprice classic',
 'ford ltd landau',
 'mercury grand marquis',
 'dodge st. regis',
 'buick estate wagon (sw)',
 'ford country squire (sw)',
 'chevrolet malibu classic (sw)',
 'chrysler lebaron town @ country (sw)',
 'vw rabbit custom',
 'maxda glc deluxe',
 'dodge colt hatchback custom',
 'amc spirit dl',
 'mercedes benz 300d',
 'cadillac eldorado',
 'peugeot 504',
 'oldsmobile cutlass salon brougham',
 'plymouth horizon',
 'plymouth horizon tc3',
 'datsun 210',
 'fiat strada custom',
 'buick skylark limited',
 'chevrolet citation',
 'oldsmobile omega brougham',
 'pontiac phoenix',
 'vw rabbit',
 'toyota corolla tercel',
 'chevrolet chevette',
 'datsun 310',
 'chevrolet citation',
 'ford fairmont',
 'amc concord',
 'dodge aspen',
 'audi 4000',
 'toyota corona liftback',
 'mazda 626',
 'datsun 510 hatchback',
 'toyota corolla',
 'mazda glc',
 'dodge colt',
 'datsun 210',
 'vw rabbit c (diesel)',
 'vw dasher (diesel)',
 'audi 5000s (diesel)',
 'mercedes-benz 240d',
 'honda civic 1500 gl',
 'renault lecar deluxe',
 'subaru dl',
 'vokswagen rabbit',
 'datsun 280-zx',
 'mazda rx-7 gs',
 'triumph tr7 coupe',
 'ford mustang cobra',
 'honda accord',
 'plymouth reliant',
 'buick skylark',
 'dodge aries wagon (sw)',
 'chevrolet citation',
 'plymouth reliant',
 'toyota starlet',
 'plymouth champ',
 'honda civic 1300',
 'subaru',
 'datsun 210 mpg',
 'toyota tercel',
 'mazda glc 4',
 'plymouth horizon 4',
 'ford escort 4w',
 'ford escort 2h',
 'volkswagen jetta',
 'renault 18i',
 'honda prelude',
 'toyota corolla',
 'datsun 200sx',
 'mazda 626',
 'peugeot 505s turbo diesel',
 'volvo diesel',
 'toyota cressida',
 'datsun 810 maxima',
 'buick century',
 'oldsmobile cutlass ls',
 'ford granada gl',
 'chrysler lebaron salon',
 'chevrolet cavalier',
 'chevrolet cavalier wagon',
 'chevrolet cavalier 2-door',
 'pontiac j2000 se hatchback',
 'dodge aries se',
 'pontiac phoenix',
 'ford fairmont futura',
 'amc concord dl',
 'volkswagen rabbit l',
 'mazda glc custom l',
 'mazda glc custom',
 'plymouth horizon miser',
 'mercury lynx l',
 'nissan stanza xe',
 'honda accord',
 'toyota corolla',
 'honda civic',
 'honda civic (auto)',
 'datsun 310 gx',
 'buick century limited',
 'oldsmobile cutlass ciera (diesel)',
 'chrysler lebaron medallion',
 'ford granada l',
 'toyota celica gt',
 'dodge charger 2.2',
 'chevrolet camaro',
 'ford mustang gl',
 'vw pickup',
 'dodge rampage',
 'ford ranger',
 'chevy s-10']

### Filtering the Dataframe using conditions

In [14]:
# for example we want to filter the data where mpg >=18
df.loc[df['mpg']>=18]   # we can also store this sliced dataframe into another dataframe by assigning it to a variable

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
toyota corona mark ii,24.0,4,113.0,95.0,2372,15.0,70,japan
plymouth duster,22.0,6,198.0,95.0,2833,15.5,70,usa
amc hornet,18.0,6,199.0,97.0,2774,15.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [15]:
df.loc[df['mpg']>=18, :]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
toyota corona mark ii,24.0,4,113.0,95.0,2372,15.0,70,japan
plymouth duster,22.0,6,198.0,95.0,2833,15.5,70,usa
amc hornet,18.0,6,199.0,97.0,2774,15.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [16]:
df.loc[df['mpg']>=18, ['mpg', 'weight', 'origin']]

                            mpg  weight  origin
name
chevrolet chevelle malibu  18.0    3504     usa
plymouth satellite         18.0    3436     usa
toyota corona mark ii      24.0    2372   japan
plymouth duster            22.0    2833     usa
amc hornet                 18.0    2774     usa
...                         ...     ...     ...
ford mustang gl            27.0    2790     usa
vw pickup                  44.0    2130  europe
dodge rampage              32.0    2295     usa
ford ranger                28.0    2625     usa
chevy s-10                 31.0    2720     usa

[291 rows x 3 columns]

### Dataframe filter with multiple conditions using logical operators

In [17]:
# mpg >=18 and origin=='usa'
df.loc[(df['mpg']>=18)&(df['origin']=='usa')]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
plymouth duster,22.0,6,198.0,95.0,2833,15.5,70,usa
amc hornet,18.0,6,199.0,97.0,2774,15.5,70,usa
ford maverick,21.0,6,200.0,85.0,2587,16.0,70,usa
...,...,...,...,...,...,...,...,...
chevrolet camaro,27.0,4,151.0,90.0,2950,17.3,82,usa
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [18]:
# mpg >=18 or origin=='usa'
df.loc[(df['mpg']>=18)|(df['origin']=='usa')]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

### we can also access the filters by assigning them to variables

In [19]:
filter1 = ((df['mpg']>=18)|(df['origin']=='usa'))
df.loc[filter1]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [20]:
# Resetting the index
df.reset_index(inplace=True)

In [21]:
df

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

### Multi-indexing

In [22]:
df.set_index(['name','mpg'],inplace=True)

In [23]:
df

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

### Filtering based on level 0 index

In [24]:
df.loc['ford maverick']

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
mpg,,,,,,,
21.0,6,200.0,85.0,2587,16.0,70,usa
18.0,6,250.0,88.0,3021,16.5,73,usa
21.0,6,200.0,NaN,2875,17.0,74,usa
15.0,6,250.0,72.0,3158,19.5,75,usa
24.0,6,200.0,81.0,3012,17.6,76,usa

In [25]:
df.loc['ford maverick',:]

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
mpg,,,,,,,
21.0,6,200.0,85.0,2587,16.0,70,usa
18.0,6,250.0,88.0,3021,16.5,73,usa
21.0,6,200.0,NaN,2875,17.0,74,usa
15.0,6,250.0,72.0,3158,19.5,75,usa
24.0,6,200.0,81.0,3012,17.6,76,usa

In [26]:
df.loc[['ford maverick','chevy s-10']]

                    cylinders  displacement  horsepower  weight  acceleration  \
name          mpg
ford maverick 21.0          6         200.0        85.0    2587          16.0
              18.0          6         250.0        88.0    3021          16.5
              21.0          6         200.0         NaN    2875          17.0
              15.0          6         250.0        72.0    3158          19.5
              24.0          6         200.0        81.0    3012          17.6
chevy s-10    31.0          4         119.0        82.0    2720          19.4

                    model_year origin
name          mpg
ford maverick 21.0          70    usa
              18.0          73    usa
              21.0          74    usa
              15.0          75    usa
              24.0          76    usa
chevy s-10    31.0          82    usa

In [27]:
list(df.index)  
# The output below is a list of tuples. Each tuple corresponds to a multi-index grouped together

[('chevrolet chevelle malibu', 18.0),
 ('buick skylark 320', 15.0),
 ('plymouth satellite', 18.0),
 ('amc rebel sst', 16.0),
 ('ford torino', 17.0),
 ('ford galaxie 500', 15.0),
 ('chevrolet impala', 14.0),
 ('plymouth fury iii', 14.0),
 ('pontiac catalina', 14.0),
 ('amc ambassador dpl', 15.0),
 ('dodge challenger se', 15.0),
 ("plymouth 'cuda 340", 14.0),
 ('chevrolet monte carlo', 15.0),
 ('buick estate wagon (sw)', 14.0),
 ('toyota corona mark ii', 24.0),
 ('plymouth duster', 22.0),
 ('amc hornet', 18.0),
 ('ford maverick', 21.0),
 ('datsun pl510', 27.0),
 ('volkswagen 1131 deluxe sedan', 26.0),
 ('peugeot 504', 25.0),
 ('audi 100 ls', 24.0),
 ('saab 99e', 25.0),
 ('bmw 2002', 26.0),
 ('amc gremlin', 21.0),
 ('ford f250', 10.0),
 ('chevy c20', 10.0),
 ('dodge d200', 11.0),
 ('hi 1200d', 9.0),
 ('datsun pl510', 27.0),
 ('chevrolet vega 2300', 28.0),
 ('toyota corona', 25.0),
 ('ford pinto', 25.0),
 ('amc gremlin', 19.0),
 ('plymouth satellite custom', 16.0),
 ('chevrolet chevelle malibu', 17.0),
 ('ford torino 500', 19.0),
 ('amc matador', 18.0),
 ('chevrolet impala', 14.0),
 ('pontiac catalina brougham', 14.0),
 ('ford galaxie 500', 14.0),
 ('plymouth fury iii', 14.0),
 ('dodge monaco (sw)', 12.0),
 ('ford country squire (sw)', 13.0),
 ('pontiac safari (sw)', 13.0),
 ('amc hornet sportabout (sw)', 18.0),
 ('chevrolet vega (sw)', 22.0),
 ('pontiac firebird', 19.0),
 ('ford mustang', 18.0),
 ('mercury capri 2000', 23.0),
 ('opel 1900', 28.0),
 ('peugeot 304', 30.0),
 ('fiat 124b', 30.0),
 ('toyota corolla 1200', 31.0),
 ('datsun 1200', 35.0),
 ('volkswagen model 111', 27.0),
 ('plymouth cricket', 26.0),
 ('toyota corona hardtop', 24.0),
 ('dodge colt hardtop', 25.0),
 ('volkswagen type 3', 23.0),
 ('chevrolet vega', 20.0),
 ('ford pinto runabout', 21.0),
 ('chevrolet impala', 13.0),
 ('pontiac catalina', 14.0),
 ('plymouth fury iii', 15.0),
 ('ford galaxie 500', 14.0),
 ('amc ambassador sst', 17.0),
 ('mercury marquis', 11.0),
 ('buick lesabre custom', 13.0),
 ('oldsmobile delta 88 royale', 12.0),
 ('chrysler newport royal', 13.0),
 ('mazda rx2 coupe', 19.0),
 ('amc matador (sw)', 15.0),
 ('chevrolet chevelle concours (sw)', 13.0),
 ('ford gran torino (sw)', 13.0),
 ('plymouth satellite custom (sw)', 14.0),
 ('volvo 145e (sw)', 18.0),
 ('volkswagen 411 (sw)', 22.0),
 ('peugeot 504 (sw)', 21.0),
 ('renault 12 (sw)', 26.0),
 ('ford pinto (sw)', 22.0),
 ('datsun 510 (sw)', 28.0),
 ('toyouta corona mark ii (sw)', 23.0),
 ('dodge colt (sw)', 28.0),
 ('toyota corolla 1600 (sw)', 27.0),
 ('buick century 350', 13.0),
 ('amc matador', 14.0),
 ('chevrolet malibu', 13.0),
 ('ford gran torino', 14.0),
 ('dodge coronet custom', 15.0),
 ('mercury marquis brougham', 12.0),
 ('chevrolet caprice classic', 13.0),
 ('ford ltd', 13.0),
 ('plymouth fury gran sedan', 14.0),
 ('chrysler new yorker brougham', 13.0),
 ('buick electra 225 custom', 12.0),
 ('amc ambassador brougham', 13.0),
 ('plymouth valiant', 18.0),
 ('chevrolet nova custom', 16.0),
 ('amc hornet', 18.0),
 ('ford maverick', 18.0),
 ('plymouth duster', 23.0),
 ('volkswagen super beetle', 26.0),
 ('chevrolet impala', 11.0),
 ('ford country', 12.0),
 ('plymouth custom suburb', 13.0),
 ('oldsmobile vista cruiser', 12.0),
 ('amc gremlin', 18.0),
 ('toyota carina', 20.0),
 ('chevrolet vega', 21.0),
 ('datsun 610', 22.0),
 ('maxda rx3', 18.0),
 ('ford pinto', 19.0),
 ('mercury capri v6', 21.0),
 ('fiat 124 sport coupe', 26.0),
 ('chevrolet monte carlo s', 15.0),
 ('pontiac grand prix', 16.0),
 ('fiat 128', 29.0),
 ('opel manta', 24.0),
 ('audi 100ls', 20.0),
 ('volvo 144ea', 19.0),
 ('dodge dart custom', 15.0),
 ('saab 99le', 24.0),
 ('toyota mark ii', 20.0),
 ('oldsmobile omega', 11.0),
 ('plymouth duster', 20.0),
 ('ford maverick', 21.0),
 ('amc hornet', 19.0),
 ('chevrolet nova', 15.0),
 ('datsun b210', 31.0),
 ('ford pinto', 26.0),
 ('toyota corolla 1200', 32.0),
 ('chevrolet vega', 25.0),
 ('chevrolet chevelle malibu classic', 16.0),
 ('amc matador', 16.0),
 ('plymouth satellite sebring', 18.0),
 ('ford gran torino', 16.0),
 ('buick century luxus (sw)', 13.0),
 ('dodge coronet custom (sw)', 14.0),
 ('ford gran torino (sw)', 14.0),
 ('amc matador (sw)', 14.0),
 ('audi fox', 29.0),
 ('volkswagen dasher', 26.0),
 ('opel manta', 26.0),
 ('toyota corona', 31.0),
 ('datsun 710', 32.0),
 ('dodge colt', 28.0),
 ('fiat 128', 24.0),
 ('fiat 124 tc', 26.0),
 ('honda civic', 24.0),
 ('subaru', 26.0),
 ('fiat x1.9', 31.0),
 ('plymouth valiant custom', 19.0),
 ('chevrolet nova', 18.0),
 ('mercury monarch', 15.0),
 ('ford maverick', 15.0),
 ('pontiac catalina', 16.0),
 ('chevrolet bel air', 15.0),
 ('plymouth grand fury', 16.0),
 ('ford ltd', 14.0),
 ('buick century', 17.0),
 ('chevroelt chevelle malibu', 16.0),
 ('amc matador', 15.0),
 ('plymouth fury', 18.0),
 ('buick skyhawk', 21.0),
 ('chevrolet monza 2+2', 20.0),
 ('ford mustang ii', 13.0),
 ('toyota corolla', 29.0),
 ('ford pinto', 23.0),
 ('amc gremlin', 20.0),
 ('pontiac astro', 23.0),
 ('toyota corona', 24.0),
 ('volkswagen dasher', 25.0),
 ('datsun 710', 24.0),
 ('ford pinto', 18.0),
 ('volkswagen rabbit', 29.0),
 ('amc pacer', 19.0),
 ('audi 100ls', 23.0),
 ('peugeot 504', 23.0),
 ('volvo 244dl', 22.0),
 ('saab 99le', 25.0),
 ('honda civic cvcc', 33.0),
 ('fiat 131', 28.0),
 ('opel 1900', 25.0),
 ('capri ii', 25.0),
 ('dodge colt', 26.0),
 ('renault 12tl', 27.0),
 ('chevrolet chevelle malibu classic', 17.5),
 ('dodge coronet brougham', 16.0),
 ('amc matador', 15.5),
 ('ford gran torino', 14.5),
 ('plymouth valiant', 22.0),
 ('chevrolet nova', 22.0),
 ('ford maverick', 24.0),
 ('amc hornet', 22.5),
 ('chevrolet chevette', 29.0),
 ('chevrolet woody', 24.5),
 ('vw rabbit', 29.0),
 ('honda civic', 33.0),
 ('dodge aspen se', 20.0),
 ('ford granada ghia', 18.0),
 ('pontiac ventura sj', 18.5),
 ('amc pacer d/l', 17.5),
 ('volkswagen rabbit', 29.5),
 ('datsun b-210', 32.0),
 ('toyota corolla', 28.0),
 ('ford pinto', 26.5),
 ('volvo 245', 20.0),
 ('plymouth volare premier v8', 13.0),
 ('peugeot 504', 19.0),
 ('toyota mark ii', 19.0),
 ('mercedes-benz 280s', 16.5),
 ('cadillac seville', 16.5),
 ('chevy c10', 13.0),
 ('ford f108', 13.0),
 ('dodge d100', 13.0),
 ('honda accord cvcc', 31.5),
 ('buick opel isuzu deluxe', 30.0),
 ('renault 5 gtl', 36.0),
 ('plymouth arrow gs', 25.5),
 ('datsun f-10 hatchback', 33.5),
 ('chevrolet caprice classic', 17.5),
 ('oldsmobile cutlass supreme', 17.0),
 ('dodge monaco brougham', 15.5),
 ('mercury cougar brougham', 15.0),
 ('chevrolet concours', 17.5),
 ('buick skylark', 20.5),
 ('plymouth volare custom', 19.0),
 ('ford granada', 18.5),
 ('pontiac grand prix lj', 16.0),
 ('chevrolet monte carlo landau', 15.5),
 ('chrysler cordoba', 15.5),
 ('ford thunderbird', 16.0),
 ('volkswagen rabbit custom', 29.0),
 ('pontiac sunbird coupe', 24.5),
 ('toyota corolla liftback', 26.0),
 ('ford mustang ii 2+2', 25.5),
 ('chevrolet chevette', 30.5),
 ('dodge colt m/m', 33.5),
 ('subaru dl', 30.0),
 ('volkswagen dasher', 30.5),
 ('datsun 810', 22.0),
 ('bmw 320i', 21.5),
 ('mazda rx-4', 21.5),
 ('volkswagen rabbit custom diesel', 43.1),
 ('ford fiesta', 36.1),
 ('mazda glc deluxe', 32.8),
 ('datsun b210 gx', 39.4),
 ('honda civic cvcc', 36.1),
 ('oldsmobile cutlass salon brougham', 19.9),
 ('dodge diplomat', 19.4),
 ('mercury monarch ghia', 20.2),
 ('pontiac phoenix lj', 19.2),
 ('chevrolet malibu', 20.5),
 ('ford fairmont (auto)', 20.2),
 ('ford fairmont (man)', 25.1),
 ('plymouth volare', 20.5),
 ('amc concord', 19.4),
 ('buick century special', 20.6),
 ('mercury zephyr', 20.8),
 ('dodge aspen', 18.6),
 ('amc concord d/l', 18.1),
 ('chevrolet monte carlo landau', 19.2),
 ('buick regal sport coupe (turbo)', 17.7),
 ('ford futura', 18.1),
 ('dodge magnum xe', 17.5),
 ('chevrolet chevette', 30.0),
 ('toyota corona', 27.5),
 ('datsun 510', 27.2),
 ('dodge omni', 30.9),
 ('toyota celica gt liftback', 21.1),
 ('plymouth sapporo', 23.2),
 ('oldsmobile starfire sx', 23.8),
 ('datsun 200-sx', 23.9),
 ('audi 5000', 20.3),
 ('volvo 264gl', 17.0),
 ('saab 99gle', 21.6),
 ('peugeot 604sl', 16.2),
 ('volkswagen scirocco', 31.5),
 ('honda accord lx', 29.5),
 ('pontiac lemans v6', 21.5),
 ('mercury zephyr 6', 19.8),
 ('ford fairmont 4', 22.3),
 ('amc concord dl 6', 20.2),
 ('dodge aspen 6', 20.6),
 ('chevrolet caprice classic', 17.0),
 ('ford ltd landau', 17.6),
 ('mercury grand marquis', 16.5),
 ('dodge st. regis', 18.2),
 ('buick estate wagon (sw)', 16.9),
 ('ford country squire (sw)', 15.5),
 ('chevrolet malibu classic (sw)', 19.2),
 ('chrysler lebaron town @ country (sw)', 18.5),
 ('vw rabbit custom', 31.9),
 ('maxda glc deluxe', 34.1),
 ('dodge colt hatchback custom', 35.7),
 ('amc spirit dl', 27.4),
 ('mercedes benz 300d', 25.4),
 ('cadillac eldorado', 23.0),
 ('peugeot 504', 27.2),
 ('oldsmobile cutlass salon brougham', 23.9),
 ('plymouth horizon', 34.2),
 ('plymouth horizon tc3', 34.5),
 ('datsun 210', 31.8),
 ('fiat strada custom', 37.3),
 ('buick skylark limited', 28.4),
 ('chevrolet citation', 28.8),
 ('oldsmobile omega brougham', 26.8),
 ('pontiac phoenix', 33.5),
 ('vw rabbit', 41.5),
 ('toyota corolla tercel', 38.1),
 ('chevrolet chevette', 32.1),
 ('datsun 310', 37.2),
 ('chevrolet citation', 28.0),
 ('ford fairmont', 26.4),
 ('amc concord', 24.3),
 ('dodge aspen', 19.1),
 ('audi 4000', 34.3),
 ('toyota corona liftback', 29.8),
 ('mazda 626', 31.3),
 ('datsun 510 hatchback', 37.0),
 ('toyota corolla', 32.2),
 ('mazda glc', 46.6),
 ('dodge colt', 27.9),
 ('datsun 210', 40.8),
 ('vw rabbit c (diesel)', 44.3),
 ('vw dasher (diesel)', 43.4),
 ('audi 5000s (diesel)', 36.4),
 ('mercedes-benz 240d', 30.0),
 ('honda civic 1500 gl', 44.6),
 ('renault lecar deluxe', 40.9),
 ('subaru dl', 33.8),
 ('vokswagen rabbit', 29.8),
 ('datsun 280-zx', 32.7),
 ('mazda rx-7 gs', 23.7),
 ('triumph tr7 coupe', 35.0),
 ('ford mustang cobra', 23.6),
 ('honda accord', 32.4),
 ('plymouth reliant', 27.2),
 ('buick skylark', 26.6),
 ('dodge aries wagon (sw)', 25.8),
 ('chevrolet citation', 23.5),
 ('plymouth reliant', 30.0),
 ('toyota starlet', 39.1),
 ('plymouth champ', 39.0),
 ('honda civic 1300', 35.1),
 ('subaru', 32.3),
 ('datsun 210 mpg', 37.0),
 ('toyota tercel', 37.7),
 ('mazda glc 4', 34.1),
 ('plymouth horizon 4', 34.7),
 ('ford escort 4w', 34.4),
 ('ford escort 2h', 29.9),
 ('volkswagen jetta', 33.0),
 ('renault 18i', 34.5),
 ('honda prelude', 33.7),
 ('toyota corolla', 32.4),
 ('datsun 200sx', 32.9),
 ('mazda 626', 31.6),
 ('peugeot 505s turbo diesel', 28.1),
 ('volvo diesel', 30.7),
 ('toyota cressida', 25.4),
 ('datsun 810 maxima', 24.2),
 ('buick century', 22.4),
 ('oldsmobile cutlass ls', 26.6),
 ('ford granada gl', 20.2),
 ('chrysler lebaron salon', 17.6),
 ('chevrolet cavalier', 28.0),
 ('chevrolet cavalier wagon', 27.0),
 ('chevrolet cavalier 2-door', 34.0),
 ('pontiac j2000 se hatchback', 31.0),
 ('dodge aries se', 29.0),
 ('pontiac phoenix', 27.0),
 ('ford fairmont futura', 24.0),
 ('amc concord dl', 23.0),
 ('volkswagen rabbit l', 36.0),
 ('mazda glc custom l', 37.0),
 ('mazda glc custom', 31.0),
 ('plymouth horizon miser', 38.0),
 ('mercury lynx l', 36.0),
 ('nissan stanza xe', 36.0),
 ('honda accord', 36.0),
 ('toyota corolla', 34.0),
 ('honda civic', 38.0),
 ('honda civic (auto)', 32.0),
 ('datsun 310 gx', 38.0),
 ('buick century limited', 25.0),
 ('oldsmobile cutlass ciera (diesel)', 38.0),
 ('chrysler lebaron medallion', 26.0),
 ('ford granada l', 22.0),
 ('toyota celica gt', 32.0),
 ('dodge charger 2.2', 36.0),
 ('chevrolet camaro', 27.0),
 ('ford mustang gl', 27.0),
 ('vw pickup', 44.0),
 ('dodge rampage', 32.0),
 ('ford ranger', 28.0),
 ('chevy s-10', 31.0)]

### Filtering based on multi-index
we use list of tuples

In [28]:
df.loc[[('chevrolet impala', 14.0),('amc gremlin', 19.0)]]

                       cylinders  displacement  horsepower  weight  \
name             mpg
chevrolet impala 14.0          8         454.0       220.0    4354
                 14.0          8         350.0       165.0    4209
amc gremlin      19.0          6         232.0       100.0    2634

                       acceleration  model_year origin
name             mpg
chevrolet impala 14.0           9.0          70    usa
                 14.0          12.0          71    usa
amc gremlin      19.0          13.0          71    usa

In [29]:
df.loc[['chevrolet impala','amc gremlin']]

                       cylinders  displacement  horsepower  weight  \
name             mpg
chevrolet impala 14.0          8         454.0       220.0    4354
                 14.0          8         350.0       165.0    4209
                 13.0          8         350.0       165.0    4274
                 11.0          8         400.0       150.0    4997
amc gremlin      21.0          6         199.0        90.0    2648
                 19.0          6         232.0       100.0    2634
                 18.0          6         232.0       100.0    2789
                 20.0          6         232.0       100.0    2914

                       acceleration  model_year origin
name             mpg
chevrolet impala 14.0           9.0          70    usa
                 14.0          12.0          71    usa
                 13.0          12.0          72    usa
                 11.0          14.0          73    usa
amc gremlin      21.0          15.0          70    usa
                 19.0          13.0          71    usa
                 18.0          15.0          73    usa
                 20.0          16.0          75    usa

In [30]:
df

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

### Filtering based on multi-index but skipping level 0 index and using only level 1 index

In [31]:
df[df.index.isin([14], level=1)]  
# Note: 14 is not a position/index but index value for mpg

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
chevrolet impala,14.0,8,350.0,165.0,4209,12.0,71,usa
pontiac catalina brougham,14.0,8,400.0,175.0,4464,11.5,71,usa
ford galaxie 500,14.0,8,351.0,153.0,4154,13.5,71,usa
plymouth fury iii,14.0,8,318.0,150.0,4096,13.0,71,usa
pontiac catalina,14.0,8,400.0,175.0,4385,12.0,72,usa
ford galaxie 500,14.0,8,351.0,153.0,4129,13.0,72,usa
plymouth satellite custom (sw),14.0,8,318.0,150.0,4077,14.0,72,usa
amc matador,14.0,8,304.0,150.0,3672,11.5,73,usa
ford gran torino,14.0,8,302.0,137.0,4042,14.5,73,usa
plymouth fury gran sedan,14.0,8,318.0,150.0,4237,14.5,73,usa
dodge coronet custom (sw),14.0,8,318.0,150.0,4457,13.5,74,usa
ford gran torino (sw),14.0,8,302.0,140.0,4638,16.0,74,usa
amc matador (sw),14.0,8,304.0,150.0,4257,15.5,74,usa
ford ltd,14.0,8,351.0,148.0,4657,13.5,75,usa

In [32]:
df[df.index.isin([14, 17, 32], level=1)]  # we can also pass list of index values

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
chevrolet chevelle malibu,17.0,6,250.0,100.0,3329,15.5,71,usa
chevrolet impala,14.0,8,350.0,165.0,4209,12.0,71,usa
pontiac catalina brougham,14.0,8,400.0,175.0,4464,11.5,71,usa
ford galaxie 500,14.0,8,351.0,153.0,4154,13.5,71,usa
plymouth fury iii,14.0,8,318.0,150.0,4096,13.0,71,usa
pontiac catalina,14.0,8,400.0,175.0,4385,12.0,72,usa
ford galaxie 500,14.0,8,351.0,153.0,4129,13.0,72,usa
amc ambassador sst,17.0,8,304.0,150.0,3672,11.5,72,usa
plymouth satellite custom (sw),14.0,8,318.0,150.0,4077,14.0,72,usa
amc matador,14.0,8,304.0,150.0,3672,11.5,73,usa
ford gran torino,14.0,8,302.0,137.0,4042,14.5,73,usa
plymouth fury gran sedan,14.0,8,318.0,150.0,4237,14.5,73,usa
toyota corolla 1200,32.0,4,71.0,65.0,1836,21.0,74,japan
dodge coronet custom (sw),14.0,8,318.0,150.0,4457,13.5,74,usa
ford gran torino (sw),14.0,8,302.0,140.0,4638,16.0,74,usa
amc matador (sw),14.0,8,304.0,150.0,4257,15.5,74,usa
datsun 710,32.0,4,83.0,61.0,2003,19.0,74,japan
ford ltd,14.0,8,351.0,148.0,4657,13.5,75,usa
buick century,17.0,6,231.0,110.0,3907,21.0,75,usa
datsun b-210,32.0,4,85.0,70.0,1990,17.0,76,japan
oldsmobile cutlass supreme,17.0,8,260.0,110.0,4060,19.0,77,usa
volvo 264gl,17.0,6,163.0,125.0,3140,13.6,78,europe
chevrolet caprice classic,17.0,8,305.0,130.0,3840,15.4,79,usa
honda civic (auto),32.0,4,91.0,67.0,1965,15.7,82,japan
toyota celica gt,32.0,4,144.0,96.0,2665,13.9,82,japan
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa

In [33]:
df[df.index.isin([14.0, 17, 32], level=1)]

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
chevrolet chevelle malibu,17.0,6,250.0,100.0,3329,15.5,71,usa
chevrolet impala,14.0,8,350.0,165.0,4209,12.0,71,usa
pontiac catalina brougham,14.0,8,400.0,175.0,4464,11.5,71,usa
ford galaxie 500,14.0,8,351.0,153.0,4154,13.5,71,usa
plymouth fury iii,14.0,8,318.0,150.0,4096,13.0,71,usa
pontiac catalina,14.0,8,400.0,175.0,4385,12.0,72,usa
ford galaxie 500,14.0,8,351.0,153.0,4129,13.0,72,usa
amc ambassador sst,17.0,8,304.0,150.0,3672,11.5,72,usa
plymouth satellite custom (sw),14.0,8,318.0,150.0,4077,14.0,72,usa
amc matador,14.0,8,304.0,150.0,3672,11.5,73,usa
ford gran torino,14.0,8,302.0,137.0,4042,14.5,73,usa
plymouth fury gran sedan,14.0,8,318.0,150.0,4237,14.5,73,usa
toyota corolla 1200,32.0,4,71.0,65.0,1836,21.0,74,japan
dodge coronet custom (sw),14.0,8,318.0,150.0,4457,13.5,74,usa
ford gran torino (sw),14.0,8,302.0,140.0,4638,16.0,74,usa
amc matador (sw),14.0,8,304.0,150.0,4257,15.5,74,usa
datsun 710,32.0,4,83.0,61.0,2003,19.0,74,japan
ford ltd,14.0,8,351.0,148.0,4657,13.5,75,usa
buick century,17.0,6,231.0,110.0,3907,21.0,75,usa
datsun b-210,32.0,4,85.0,70.0,1990,17.0,76,japan
oldsmobile cutlass supreme,17.0,8,260.0,110.0,4060,19.0,77,usa
volvo 264gl,17.0,6,163.0,125.0,3140,13.6,78,europe
chevrolet caprice classic,17.0,8,305.0,130.0,3840,15.4,79,usa
honda civic (auto),32.0,4,91.0,67.0,1965,15.7,82,japan
toyota celica gt,32.0,4,144.0,96.0,2665,13.9,82,japan
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa

In [34]:
mpg_lst = [14.0, 17, 32]
df[df.index.isin(mpg_lst, level=1)]   # we can also pass a list variable

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
chevrolet chevelle malibu,17.0,6,250.0,100.0,3329,15.5,71,usa
chevrolet impala,14.0,8,350.0,165.0,4209,12.0,71,usa
pontiac catalina brougham,14.0,8,400.0,175.0,4464,11.5,71,usa
ford galaxie 500,14.0,8,351.0,153.0,4154,13.5,71,usa
plymouth fury iii,14.0,8,318.0,150.0,4096,13.0,71,usa
pontiac catalina,14.0,8,400.0,175.0,4385,12.0,72,usa
ford galaxie 500,14.0,8,351.0,153.0,4129,13.0,72,usa
amc ambassador sst,17.0,8,304.0,150.0,3672,11.5,72,usa
plymouth satellite custom (sw),14.0,8,318.0,150.0,4077,14.0,72,usa
amc matador,14.0,8,304.0,150.0,3672,11.5,73,usa
ford gran torino,14.0,8,302.0,137.0,4042,14.5,73,usa
plymouth fury gran sedan,14.0,8,318.0,150.0,4237,14.5,73,usa
toyota corolla 1200,32.0,4,71.0,65.0,1836,21.0,74,japan
dodge coronet custom (sw),14.0,8,318.0,150.0,4457,13.5,74,usa
ford gran torino (sw),14.0,8,302.0,140.0,4638,16.0,74,usa
amc matador (sw),14.0,8,304.0,150.0,4257,15.5,74,usa
datsun 710,32.0,4,83.0,61.0,2003,19.0,74,japan
ford ltd,14.0,8,351.0,148.0,4657,13.5,75,usa
buick century,17.0,6,231.0,110.0,3907,21.0,75,usa
datsun b-210,32.0,4,85.0,70.0,1990,17.0,76,japan
oldsmobile cutlass supreme,17.0,8,260.0,110.0,4060,19.0,77,usa
volvo 264gl,17.0,6,163.0,125.0,3140,13.6,78,europe
chevrolet caprice classic,17.0,8,305.0,130.0,3840,15.4,79,usa
honda civic (auto),32.0,4,91.0,67.0,1965,15.7,82,japan
toyota celica gt,32.0,4,144.0,96.0,2665,13.9,82,japan
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa

### Another way of filtering based on multi-index but skipping level 0 index and using only level 1 index

In [35]:
df.loc[(slice(None),14),:] 
# in this method we have to explicitly specify even if we want all the columns unlike the previous methods

,,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,mpg,,,,,,,
chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
plymouth 'cuda 340,14.0,8,340.0,160.0,3609,8.0,70,usa
buick estate wagon (sw),14.0,8,455.0,225.0,3086,10.0,70,usa
chevrolet impala,14.0,8,350.0,165.0,4209,12.0,71,usa
pontiac catalina brougham,14.0,8,400.0,175.0,4464,11.5,71,usa
ford galaxie 500,14.0,8,351.0,153.0,4154,13.5,71,usa
plymouth fury iii,14.0,8,318.0,150.0,4096,13.0,71,usa
pontiac catalina,14.0,8,400.0,175.0,4385,12.0,72,usa
ford galaxie 500,14.0,8,351.0,153.0,4129,13.0,72,usa
plymouth satellite custom (sw),14.0,8,318.0,150.0,4077,14.0,72,usa
amc matador,14.0,8,304.0,150.0,3672,11.5,73,usa
ford gran torino,14.0,8,302.0,137.0,4042,14.5,73,usa
plymouth fury gran sedan,14.0,8,318.0,150.0,4237,14.5,73,usa
dodge coronet custom (sw),14.0,8,318.0,150.0,4457,13.5,74,usa
ford gran torino (sw),14.0,8,302.0,140.0,4638,16.0,74,usa
amc matador (sw),14.0,8,304.0,150.0,4257,15.5,74,usa
ford ltd,14.0,8,351.0,148.0,4657,13.5,75,usa